[submodule "onvm-upf"]
	path = onvm-upf
	url = https://github.com/nycu-ucr/onvm-upf.git
[submodule "onvm-free5gc3.0.5"]
	path = onvm-free5gc3.0.5
	url = https://github.com/nycu-ucr/onvm-free5gc3.0.5
[submodule "logger_util"]
	path = logger_util
	url = https://github.com/nycu-ucr/logger_util
[submodule "test-script3.0.5"]
	path = test-script3.0.5
	url = https://github.com/nycu-ucr/test-script3.0.5
[submodule "onvm-pfcp3.0.5"]
	path = onvm-pfcp3.0.5
	url = https://github.com/nycu-ucr/onvm-pfcp3.0.5
[submodule "kernel-upf"]
	path = kernel-upf
	url = https://github.com/nycu-ucr/kernel-upf
[submodule "kernel-free5gc3.0.5"]
	path = kernel-free5gc3.0.5
	url = https://github.com/nycu-ucr/kernel-free5gc3.0.5
